<section class="bottom-menu">
  <div class="bottom-menu__container">
    <div class="bottom-menu__contacts">
      <div class="bottom-menu__contact">
        <img src="{{ '/images/envelope.svg' }}" width="40px" height="40px" alt="icon">
        <p class="bottom-menu__text">info@shop.ru</p>
      </div>

      <div class="bottom-menu__contact">
        <img src="{{ '/images/phone-call.svg' }}" width="40px" height="40px" alt="icon">
        <p class="bottom-menu__text">8 (800) 555-00-00</p>
      </div>

      <div class="bottom-menu__contact">
        <img src="{{ '/images/placeholder.svg' }}" width="40px" height="40px" alt="icon">
        <p class="bottom-menu__text">Москва, пр-т Ленина, д. 1 офис 304</p>
      </div>
    </div>

    <nav class="bottom-menu__nav">
      <a class="bottom-menu__links" href="{{ '/home' }}">Главная</a>

      <a class="bottom-menu__links" href="{{ '/product/list/?page=1' }}">Товары</a>

      <a class="bottom-menu__links" href="{{ '/order/list/?page=1' }}">Заказы</a>
    </nav>
  </div>
</section>
